---
import Layout from "../layouts/Layout.astro";
import { Button } from "ui/react";
import { Counter } from "ui/vue";
import { Counter as SolidCounter } from "ui/solid";
import { PostCard } from "../components/PostCard";

const response = await fetch("https://dummyjson.com/posts");
const posts = await response.json();
---

<Layout title="index">
  <div>
    <!-- <h1 class="text-3xl">React</h1>
    <Button text="React" />
    <h1 class="text-3xl">Vue</h1>
    <Counter client:only="vue" />

    <h1 class="text-3xl">Solid</h1>
    <SolidCounter client:only="solid" /> -->

    <div class="flex flex-row flex-wrap">
      {
        posts.posts?.map((post: any) => {
          return <PostCard title={post.title} tags={post.tags} id={post.id} />;
        })
      }
    </div>
  </div>
</Layout>
