---
import "../styles/global.css";
import Navbar from "../components/react/Navbar";
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <style>
      .container {
        max-width: 1200px;
      }
    </style>
  </head>
  <body>
    <Navbar client:only="react" />
    <div class="container mx-auto">
      <slot />
    </div>
  </body>
</html>
